<% @ideas.each do |idea| %>
  <div class="image <% if idea.done == true %>done<% end %>">
    <%= link_to image_tag(idea.picture, :width=>"100"), idea %>
    <% if idea.done == true %> 
      <div class="image_done_overlay">
        <%= link_to image_tag("rails.png", :width=>"100"), idea %>
      </div>
    <% end %>
  </div>
<% end %>


<%= link_to 'New Idea', new_idea_path %>
