<div class="container">
	<%= image_tag("logo.png") %>
	<%= link_to image_tag("button_allthefuck.png", :class => "allthefuck"), ideas_url %>
	<%= link_to image_tag("button_getthefuckdone.png", :class => "getthefuckdone"), new_idea_url %>
	<%= link_to "notify cleaning guy!", notify_cleaning_services_url%>
</div>
