.form_label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

input.large {
	height: 20px;
}

textarea.description {
	height: 60px;
	width: 285px;
	margin-bottom: 30px;
	color: red;
}

.field.stereo input {
	float: left;
	margin: 0px 20px 0px 0px;
}

input.fucker_mail {
	height: 20px;
	width: 285px;
}
input.fucker_mail:focus {
	border-color:red;
}
