// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.allthefuck {
	position: absolute;
	top: 520px;
	left: 320px;
}

.getthefuckdone {
	position: absolute;
	top: 400px;
	left: 570px;
}